.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rprofile
*.csv
*.xlsx
*.sav
04_manuscript/sections/*.pdf
04_manuscript/sections/*.docx
04_manuscript/sections/*.html
04_manuscript/CopyOfthesis.qmd
04_manuscript/sections/*.aux
04_manuscript/sections/*.log
04_manuscript/sections/*.out
04_manuscript/sections/*.toc
04_manuscript/sections/*.blg
04_manuscript/sections/*.bbl
04_manuscript/sections/*.synctex.gz
04_manuscript/sections/*.fls
04_manuscript/sections/*.fdb_latexmk
04_manuscript/sections/*.tex
04_manuscript/sections/*.spl
04_manuscript/*.pdf
04_manuscript/*.html
04_manuscript/*.tex
_targets
.positai
03_outputs/*
