.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rprofile
02_data_raw/
03_data_processed/
*.csv
*.xlsx
*.sav
07_manuscript/*.pdf
07_manuscript/*.docx
07_manuscript/*.html
07_manuscript/CopyOfthesis.qmd
07_manuscript/*.aux
07_manuscript/*.log
07_manuscript/*.out
07_manuscript/*.toc
07_manuscript/*.blg
07_manuscript/*.bbl
07_manuscript/*.synctex.gz
07_manuscript/*.fls
07_manuscript/*.fdb_latexmk
07_manuscript/*.tex
07_manuscript/*.spl
_targets
